.menu-mobile-container {
  background-color: #3ba597 !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 0.2em;
  box-shadow: 0 0 10px #000000d2;
  z-index: 1;
}

.menu-mobile-container button {
  color: #f0f0f0;
}

.menu-mobile-container .Mui-selected {
  color: #ffffff !important;
  background-color: #41678856;
  border-radius: 6px 6px 4px 4px;
}
