.personal-group-container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-group-container > div {
  width: 80%;
  padding: 1.1em;
  border: 1px solid gray;
  border-radius: 4px;
  border: 1px solid rgb(189, 189, 189);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.563);
  background-color: #fff;
}

hr {
  width: 100%;
}

.group-goals-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.group-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
}

.group-data h1 {
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  padding: 0.3em;
  border-radius: 8px;
  color: #404945;
  text-transform: uppercase;
  background-color: #2374ee06;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.563);
}

.group-data h2 {
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #3c6eda;
  text-transform: uppercase;
}

.group-data > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.group-data span {
  font-weight: 500;
}
.group-data section {
  font-weight: 300;
}

.description,
.category {
  padding: 1em;
}

.no-group-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.no-group-container > div > div {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(223, 223, 223);
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.563);
}

.no-group-container > div > div h1 {
  padding: 10px;
  width: auto;
  text-align: center;
  border-radius: 8px;
  font-weight: 500;
  color: #404945;
  text-transform: uppercase;
  background-color: #2374ee06;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.563);
  margin-bottom: 10px;
}

.no-group-container > div > button {
  background-color: #416788;
  outline: none;
  border: none;
  padding: 8px;
  font-size: 1.3em;
  margin-top: 25px;
  margin-bottom: 25px;
}

.no-group-container > div > h2 {
  margin-bottom: 10px;
}

.no-group-container > div > button:hover {
  background-color: #3ba597;
  transform: scale(1.04);
}

@media (max-width: 950px) {
  .group-goals-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
