.create-group form > div {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.buttons-group div {
  display: flex;
  justify-content: space-evenly;
}

.create-group h1 {
  font-weight: 400;
  text-align: center;
}
