.login-container {
  font-family: roboto, sans-serif;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h2 {
  width: 70%;
  color: #3c6eda;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: 1.2px;
  text-align: center;
  line-height: 1.3em;
}

.login-container h4 {
  color: #484848;
  font-size: 0.5em;
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 1.1em;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.login-container form div {
  width: 100%;
  margin-bottom: 0.2em;
}

.buttons-login button {
  margin-top: 0.5em;
  color: rgb(238, 238, 238);
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  width: 100%;
  font-size: 0.7em;
  background-color: #3ba597;
  margin-bottom: 0.7em;
}

.buttons-login button:hover {
  background-color: #416788;
  font-weight: 500;
  transform: scale(1.02);
}

@media (min-width: 900px) {
  .login-container form {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .login-container form {
    width: 30%;
  }
}
