.habit-edit-container {
  font-size: 16px;
}

.habit-edit-container h2 {
  font-size: 1.2em;
  text-align: center;
  font-weight: 400;
  color: #3c6eda;
  margin-bottom: 0.3em;
}

.habit-edit-container form {
  display: flex;
  flex-direction: column;
}

.habit-edit-buttons {
  display: flex;
  justify-content: space-between;
}

.habit-edit-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #3c6eda;
  border: none;
  outline: none;
}
