.header {
  font-size: 1rem;
  margin-bottom: 0.5em;
}
.header-container {
  display: flex;
  width: 100%;
  height: 4em;
  align-items: center;
  justify-content: space-between;
  background-color: #3ba597;
  color: #fff;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 12px #000000d2;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h2 {
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 1.2px;
  cursor: pointer;
}

figure .icon {
  font-size: 3em;
}

.logout button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.logout {
  display: flex;
  align-items: center;
}
