.user-edit-container {
  font-size: 16px;
}

.user-edit-container h1 {
  font-size: 1.2em;
  text-align: center;
  font-weight: 400;
  color: #3c6eda;
  margin-bottom: 0.3em;
}

.user-edit-container form {
  display: flex;
  flex-direction: column;
}

.user-edit-container form div {
  max-width: 18em;
}

.buttons-edit-user {
  display: flex;
  justify-content: space-evenly;
}

.buttons-edit-user button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #3c6eda;
  border: none;
  outline: none;
}
